<%@page_title="Edit"%>
<b><%= link_to("<< Back to users list",users_path)%></b><br/>
<h1>Editing user</h1>
<%= link_to('Delete',delete_user_path(@user.id)) %>
<br/><br/>
<%= form_for(@user) do |f| %>
	 <%= render(:partial=>'form',:locals=>{:f=>f}) %>
	 <br/><br/>
	 <%=submit_tag('Update')%>
<% end -%>



