<%@page_title="Index"%>
<%=link_to("<< Back to Menu",:controller => 'access')%>
<h1>All features</h1>
<%= link_to('New Feature', new_feature_path) %><br/><br/>
<%if @features.count > 0 %>
    <table class="table">
      <tr class="tbl_head_footer">
        <th>ID</th>
        <th>Name</th> 
        <th>Albums containing this feature</th>      
        <th colspan="3">Actions</th>
      </tr>
      <% @features.each do |feature| %>
          <tr style="background:<%=zebra_style%>">      
              <td><%=feature.id%></td>
              <td><%=link_to(feature.name,feature_path(feature.id))%></td>
              <td>
                <%if feature.albums %>
                    <% feature.albums.each do |album| %>
                      <%= link_to(album.title,album_path(album.id))%><b> for</b>
                        <%= link_to(album.artist.name,artist_path(album.artist.id)) if 
                          album.artist %><br/> 
                    <% end %>                  
                <% end %>
              </td>                       
              <td><%= link_to 'Show', feature_path(feature.id) %></td>
              <td><%= link_to 'Edit', edit_feature_path(feature.id) %></td>
              <td><%= link_to('Delete', delete_feature_path(feature.id) ) %></td>
          </tr>
      <% end %>
       <tr class="tbl_head_footer">
        <td colspan="6"><b>Features count <%=@features.count%></b></td>
      </tr>
    </table>
<% else %>
    <div>No features found.</div>
<% end %>  

